{
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf",
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss",
		"prettier-plugin-classnames",
		"prettier-plugin-merge"
	],
	"tailwindStylesheet": "./app/globals.css",
	"tailwindFunctions": ["clsx", "cn", "cva", "twMerge"],
	"customFunctions": ["clsx", "cn", "cva", "twMerge"],
	"importOrder": [
		"^react",
		"^next(?!-intl)(?:$|\\/.*)$",
		"^@/types/(|.*)$",
		"^@/hooks/(|.*)$",
		"^@/lib/(|.*)$",
		"<THIRD_PARTY_MODULES>",
		"^@/components/(|.*)$",
		"^@/public/(|.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
